guion.txt
22.md
23.md
24.md
25.md
29.md
background/
bark/
cf.md
contas.txt
creadoporchatgpt.pptx
creadoporcopilot.pptx
dogs/
dogs.md
ec.md
flores.md
flowers/
guion.txt
holmes/
introducion.md
promo.html
proxectos/
slides22.pdf
slides30.pdf
vx.md
